*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0px;
    padding: 0px;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 18px;
    color: #e5e7eb;
  }

  .header h3 {
    font-size: 24px;
    color: #f9faf8;
  }

  .header h3,
  ul {
    padding: 10px 200px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    /* position: fixed; */
    width: 100vw;
}

.container1 {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    color: white;
    padding: 100px;
    gap: 100px
}

.c1text {
    font-size: 48px;
    font-weight: 800;
}

.c1text2 {
    font-size: 18px;
}

.signup {
    margin-top: 8px;
    background-color: #3882f6;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
    font-weight: 600;

}

.c1image {
    width: 300px;
    height: auto;
}