*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
  }

  body {
    display: flex;
    flex-direction: column;
  }

.header ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 18px;
    color: #e5e7eb;
    padding: 10px 100px 0px 0px;
}

.header h3 {
    font-size: 24px;
    color: #f9faf8;
    padding: 10px 0 0 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    position: fixed; 
    width: 100vw;
    flex-shrink: 1;
}

.container1 {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    color: white;
    padding: 100px;
    gap: 100px
}

.container1b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.c1text {
    font-size: 48px;
    font-weight: 800;
}

.c1text2 {
    font-size: 18px;
    color: #e5e7eb;
}

.signup {
    margin-top: 8px;
    background-color: #3882f6;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
    font-weight: 600;

}

.c1image {
    width: 250px;
    height: auto;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container2b {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 150px;
  border-radius: 8px;
}

.c2text {
    font-size: 36px;
    font-weight: 800;
    padding: 20px 0;
}

.c2subtext {
  text-align: center;
  padding-bottom: 50px;
  font-size: 14px;
  color: #40464d
}

.c2images {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  margin-bottom: 6px;
}

.container2 img {
  border-radius: 8px;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  height: 300px;
}

.container3b {
  display: flex;
  flex-direction: column;
  flex-basis: 600px;
}

.c3quote {
  font-size: 30px;
  color: #1f2937;
  font-style: italic;
  font-weight: lighter;
  /* font-family: lastima; */
}

.c3author {
  text-align: end;
  font-weight: bold;
  font-size: 20px;
}

.container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.container4b {
  background-color: #3882f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  height: 110px;
  padding: 50px 100px;
  border-radius: 8px;
}

.container4c {
  display: flex;
  flex-direction: column;
}

.c4text {
  color: white;
  font-weight: bold;
}

.c4text2 {
  color: #e5e7eb;
}

.signup2 {
  background-color: #3882f6;
  color: white;
  border-radius: 8px;
  border: 2px solid white;
  padding: 8px 20px;
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 20px 0;
  font-size: 14px;
}